<% text = text.to_sentence if text.is_a? Array %>
<div class="read-more-link">
    <a href="#" data-title="About this metric" data-content="<%= text.gsub("\n", "<br />") %>" data-placement="right">
        <i class="material-icons">info_outline</i>
    </a>
</div>