#ghost-container {

  width: 900px;
  margin: 0 auto;

  h1 {
    float: right;
    font-size: 150%;
  }

  .editor {
    background: white;
    clear: both;

    font-size: 115%;
    padding: 30px 40px;
    width: 100%;

    margin-bottom: 100px;
    text-indent: 50px;
  }

  .metrics {
    background: white;
    border-left: 1px solid #cdcdcd;

    position: fixed;
    overflow-y: scroll;
    right: 0;
    top: 0;
    height:100%;
    width: 340px;
    padding: 20px 15px;

    .metric {

      clear: both;

      .goal {
        float: right;
        font-size: 110%;
      }

      .tip {
        font-style: italic;
        color: #555;
        display: none;
      }

    }
  }
}

.up {
  color: lime;
  &:before {
    content: '▲';
  }
}
.down {
  color: red;
  &:before {
    content: '▼';
  }
}
.stay {
  color: #333;
  &:before {
    content: '~'
  }
}