#ghost-container {

  width: 900px;
  margin: 0 auto;

  h1 {
    float: right;
    font-size: 150%;
  }

  .editor {
    background: white;
    clear: both;

    font-size: 115%;
    padding: 30px 40px;
    width: 100%;

    margin-bottom: 100px;
  }
}
