#ghost-container {

  margin: 0 auto;

  h1 {
    float: left;
    font-size: 150%;
  }

  h2 {
    float: right;
    font-size: 90%;
  }

  .editor {
    clear: both;

    font-size: 115%;
    padding: 30px 40px;
    padding-bottom: 300px;
    width: 100%;

    margin-bottom: 100px;
    text-indent: 40px;
  }

  .stats {
    margin-bottom: 20px;

    .metric {
      margin-bottom: 5px;
    }

    .goal {
      float: right;
      font-size: 110%;
    }
  }

  .metrics {
    .metric {
      clear: both;
      margin-bottom: 5px;

      .goal {
        float: right;
        font-size: 110%;
      }

      .tip {
        font-style: italic;
        color: #555;
        display: none;
      }

    }
  }
}

.up {
  color: lime;
  &:before {
    content: '▲';
  }
}
.down {
  color: red;
  &:before {
    content: '▼';
  }
}
.stay {
  color: #333;
  &:before {
    content: '☺'
  }
}