html {
    height: 100%;
}

body {
    background: #EEF7FE;
    font-size: 12pt;
}

.content-panel {
    width: 600px;
    height: 100%;
    padding: 30px 10px;
}

.logo {
    text-align: center;
    padding-bottom: 50px;
}

.logo img {
    width: 200px;
}

thead {
    background: #F9CE55;
    font-weight: bold;
}

tr {
	max-height: 10px;
	overflow: scroll;
}

pre {
    white-space: pre-wrap;
}

.monospace {
    font-family: monospace;
    font-size: 13px;
}

.metric-value {
    font-size: 20px;
}

.scrolling-container {
    max-height: 300px;
    overflow: scroll;
}

.read-more-link {
    float: right;

    a {
        text-decoration: none;
        i {
            padding-top: 2px;
        }
    }
}

.buttons {
    button {
        margin-right: 7px;
    }

    .loading-icon {
        float: right;
        margin-top: 5px;
    }
}

#file-upload-form {
    display: none;
}

.float-right {
    float: right;
}

.toggle-expansion-button {
    float: right;
    margin-top: -3px;
    cursor: pointer;
    color: #F8CE55;
    &:hover {
        color: #DD684E;
    }
}

.expanded-panel {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    overflow: auto;
}

#input_text_area {
    min-height: 250px;
    height: 100%;
}

.mui-appbar {
    padding: 0 10px;
    margin-bottom: 20px;

    a {
        padding-right: 10px;
    }

    .brand {
        font-size: 150%;
    }
}