html {
    height: 100%;
}

body {
    background: #EEF7FE;
    font-size: 12pt;
}

.content-panel {
    width: 600px;
    height: 100%;
    padding: 30px 10px;
}

.logo {
    text-align: center;
    padding-bottom: 50px;
}

.logo img {
    width: 200px;
}

thead {
    background: #F9CE55;
    font-weight: bold;
}

tr {
	max-height: 10px;
	overflow: scroll;
}

pre {
    white-space: pre-wrap;
}

.monospace {
    font-family: monospace;
    font-size: 13px;
}

.metric-value {
    font-size: 20px;
}

.scrolling-container {
    max-height: 300px;
    overflow: scroll;
}

.read-more-link {
    float: right;
}

.read-more-link a {
    text-decoration: none;
}