body {
    background: #EEF7FE;
    font-size: 12pt;
}

thead {
    background: #F9CE55;
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
}

.monospace {
    font-family: monospace;
    font-size: 13px;
}

.metric-value {
    font-size: 20px;
}

.buttons {
    width: 100%;
    margin-top: auto;

    button {
        margin-right: 7px;
    }

    .loading-icon {
        float: right;
        margin-top: 5px;
    }
}

#file-upload-form {
    display: none;
}

.float-right {
    float: right;
}

.toggle-expansion-button {
    float: right;
    margin-top: -3px;
    cursor: pointer;
    color: #F8CE55;
    &:hover {
        color: #DD684E;
    }
}

.expanded-panel {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    overflow: auto;
    background: white;
}

#input_text_area {
    min-height: 250px;
    height: 100%;
    resize: vertical;
}
