<% if notice || alert %>
  <div class="mui-panel" id="message-panel">
    <% if alert %>
      <div>Alert: <%= alert %></div>
    <% end %>
    <% if notice %>
      <div>Notice: <%= notice %></div>
    <% end %>
  </div>
<% end %>
