<div class="mui-appbar">
  <table width="100%">
    <tr style="vertical-align:middle;">
      <td class="mui--appbar-height brand">
        <%= link_to 'Dactyl', root_url, class: 'mui--text-white' %>
      </td>
      <td class="mui--appbar-height" align="right">
      	<%= render 'layouts/login' %>
      </td>
    </tr>
  </table>
</div>