<nav class="nav-extended">
  <div class="nav-wrapper">
    <%= link_to 'Scriptorium', root_path, class: 'brand-logo' %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/"><i class="material-icons">search</i></a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <%= link_to 'Books', books_path, target: '_self' %>
      </li>
      <li class="tab">
        <%= link_to 'Authors', authors_path, target: '_self' %>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>
